footer.container.footer
    div.row.primaryFooter
     ul.col-md-3.footer__Ul
      li.list
        | Panamá
      li.list
        | Perú
      li.list
        | Paraguay
      li.list
        | Costa Rica
      li.list
        | Ecuador
      li.list
        | Bolivia
     ul.col-md-3.footer__Ul
      li.list
        a.link
          | Terminos y Condiciones
      li.list
        a.link
          | Eventos
      li.list
        a.link
          | Videos
      li.list
        a.link
          | Nosotros
      li.list
        a.link
          | Alumnos
     ul.col-md-3.footer__Ul
      li.list.uCenterText
        | Pronto
        img.uMarginCenter(src="images/gg.png", alt="muy pronto disponible en google play")
     ul.col-md-3.footer__Ul
      li.list.uCenterText
        | Pronto
        img.uMarginCenter(src="images/pp.png", alt="muy pronto en app store")
    div.row
      div.col-md-6
        p.description
          | 2016 Carrerasdelfuturo. Todos los derechos reservados
      div.col-md-6
        ul.socials
          li.list
            a.link(href="https://www.facebook.com/Carreras-del-Futuro-340742959649869/")
              img(src="images/fb.png", alt="Facebook")
          li.list
            a.link(href="#")
              img(src="images/tw.png")