
<footer class="container footer">
  <div class="row primaryFooter">
    <ul class="col-md-3 footer__Ul">
      <li class="list">Panamá</li>
      <li class="list">Perú</li>
      <li class="list">Paraguay</li>
      <li class="list">Costa Rica</li>
      <li class="list">Ecuador</li>
      <li class="list">Bolivia</li>
    </ul>
    <ul class="col-md-3 footer__Ul">
      <li class="list"><a class="link">Terminos y Condiciones</a></li>
      <li class="list"><a class="link">Eventos</a></li>
      <li class="list"><a class="link">Videos</a></li>
      <li class="list"><a class="link">Nosotros</a></li>
      <li class="list"><a class="link">Alumnos</a></li>
    </ul>
    <ul class="col-md-3 footer__Ul">
      <li class="list uCenterText">Pronto<img src="images/gg.png" alt="muy pronto disponible en google play" class="uMarginCenter"/></li>
    </ul>
    <ul class="col-md-3 footer__Ul">
      <li class="list uCenterText">Pronto<img src="images/pp.png" alt="muy pronto en app store" class="uMarginCenter"/></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="description">2016 Carrerasdelfuturo. Todos los derechos reservados</p>
    </div>
    <div class="col-md-6">
      <ul class="socials">
        <li class="list"><a href="https://www.facebook.com/Carreras-del-Futuro-340742959649869/" class="link"><img src="images/fb.png" alt="Facebook"/></a></li>
        <li class="list"><a href="#" class="link"><img src="images/tw.png"/></a></li>
      </ul>
    </div>
  </div>
</footer>