
<header class="header container-fluid">
  <div class="row">
    <section class="header__Web col-xs-8 col-md-9">
      <h1 class="titleHeader"><img src="images/logo.png" alt="Carrerasdelfuturo"/></h1>
    </section>
    <nav class="header__Nav col-xs-4 col-md-3">
      <ul class="header__Nav--Ul">
        <!--li.list
        a.link.payment(data-key='pk_test_ePGZW1gHYBpGVrI8FzPlKkxn', data-image='https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xla1/v/t1.0-9/14238254_340746319649533_2462327527717628267_n.jpg?oh=d12c27735e2121fee794822b042961bd&oe=58415F35&__gda__=1480944280_49e8a978758ac7c751680116ee976aee', data-amount='1999', data-currency='usd', data-name='Carreras del Futuro', data-description='Curso profesional de frontend developer')
         | Comprar
        -->
        <li class="list"><a href="login" class="link login">Ingresar</a></li>
      </ul>
    </nav>
  </div>
</header>