header.header.container-fluid
   div.row
    section.header__Web.col-xs-8.col-md-9
     h1.titleHeader
      a(/)
        img(src="/images/logo.png", alt="Carrerasdelfuturo")
    nav.header__Nav.col-xs-4.col-md-3
     ul.header__Nav--Ul
      li.list
       a.link.login(href="/login")
        | Ingresar