<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Carreras del futuro preparate con cursos y carreras profesionales en programación, diseño y marketing">
    <title>Carreras del Futuro</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.css">
    <link rel="stylesheet" href="stylesheets/app.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/code-developer.js"></script>
    <script src="https://checkout.stripe.com/v2/checkout.js"></script>
    <!--script(src="javascripts/code-developer2.js")-->
    <!--script(src="javascripts/code-developer3.js")-->
  </head>
</html>
<body>
  <header class="header container-fluid">
    <div class="row">
      <section class="header__Web col-xs-8 col-md-9">
        <h1 class="titleHeader">Carrerasdelfuturo</h1>
      </section>
      <nav class="header__Nav col-xs-4 col-md-3">
        <ul class="header__Nav--Ul">
          <li class="list"><a data-key="pk_test_ePGZW1gHYBpGVrI8FzPlKkxn" data-image="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xla1/v/t1.0-9/14238254_340746319649533_2462327527717628267_n.jpg?oh=d12c27735e2121fee794822b042961bd&amp;oe=58415F35&amp;__gda__=1480944280_49e8a978758ac7c751680116ee976aee" data-amount="1999" data-currency="usd" data-name="Carreras del Futuro" data-description="Curso profesional de frontend developer" class="link payment">Comprar</a></li>
          <li class="list"><a href="login" class="link login">Ingresar</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="subHeaderHome container-fluid">
    <div class="row">
      <section class="homeSlider container">
        <div class="row">
          <article class="homeSlider__Show col-md-12">
            <header class="homeSlider__Show--Txt">
              <h2 class="title">Construye el nuevo futuro<br>Aprende cursos y carreras profesionales</h2>
              <div class="button"><a href="#" class="button__Link">Inscríbete</a></div>
            </header>
            <figure class="homeSlider__Show--Figure"><img src="images/homesito.png" alt="" width="380px"></figure>
          </article>
        </div>
      </section>
    </div>
  </section>
  <main class="container homeMain">
    <div class="row">
      <section class="home__Top col-md-12">
        <header class="home__Top--Header col-md-3">
          <h2 class="title">¿Qué Sómos?</h2>
        </header>
        <div class="home__Top--Description col-md-12">
          <p class="description">Somos la Plataforma de aprendizaje colaborativo, con cursos y carreras<br>aprende y se un profesional en distintas ramas</p>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="home__Top--Two col-md-12">
        <article class="home__Top--Two--Articl col-md-4">
          <figure class="figure"><img src="https://www.tutellus.com/bower_components/tutellus.css/images/landings/titulos-universitarios/icon-yellow-title.svg"></figure>
          <header class="headerArticl">
            <h3 class="title">Aprende</h3>
          </header>
          <div class="description">
            <p class="show">Como alumno, siempre encontrarás algo nuevo para aprender entre los distintos cursos</p>
          </div>
        </article>
        <article class="home__Top--Two--Articl col-md-4">
          <figure class="figure"><img src="https://www.tutellus.com/bower_components/tutellus.css/images/landings/titulos-universitarios/icon-yellow-title.svg"></figure>
          <header class="headerArticl">
            <h3 class="title">Certifícate</h3>
          </header>
          <div class="description">
            <p class="show">Completa el curso, responde cuestionarios y certificate oficialmente </p>
          </div>
        </article>
        <article class="home__Top--Two--Articl col-md-4">
          <figure class="figure"><img src="https://www.tutellus.com/bower_components/tutellus.css/images/landings/titulos-universitarios/icon-yellow-title.svg"></figure>
          <header class="headerArticl">
            <h3 class="title">Trabaja</h3>
          </header>
          <div class="description">
            <p class="show">Con el conocimiento que te brindamos aplica a trabajos presenciales o arma tu propio negocio</p>
          </div>
        </article>
      </section>
    </div>
    <div class="row">
      <header class="home__Top--Tree--Header col-md-12">
        <h3 class="title">Especializaciones destacadas</h3>
      </header>
      <section class="home__Top--Tree">
        <article class="cours col-md-4">
          <figure class="cours--Figure"><img src="images/coding.jpg" alt="" width="250"></figure>
          <header class="cours--Header">
            <h4 class="title">Programacion Web</h4>
          </header>
        </article>
        <article class="cours col-md-4">
          <figure class="cours--Figure"><img src="images/cours2.jpg" alt="" width="250"></figure>
          <header class="cours--Header">
            <h4 class="title">Corredor Inmobiliario</h4>
          </header>
        </article>
        <article class="cours col-md-4">
          <figure class="cours--Figure"><img src="images/cours3.jpg" alt="" width="250"></figure>
          <header class="cours--Header">
            <h4 class="title">Negocios</h4>
          </header>
        </article>
      </section>
    </div>
    <div class="row">
      <section class="home__BottomLeft col-md-6">
        <header class="headerLeft col-md-2">
          <h3 class="title">Profesionales</h3>
        </header>
        <div class="descriptionLeft col-md-12">
          <p class="description">Encuentra lo que necesitas las distintas temáticas y niveles. Aprende a tu ritmo con un gran Producto diseñado para que tú controles tu propio aprendizaje.</p>
          <p class="description">Cuestionarios y <strong>Sesiones en vivo, transmisión y chat en tiempo real, </strong>materiales de la clase y soporte a todos nuestros estudiantes</p>
        </div>
      </section>
      <aside class="home__BottomAside col-md-6">
        <video autoplay loop muted class="videoAside col-md-12">
          <source src="video/board.mp4" type="video/mp4">
          <source src="video/board.webm" type="video/webm">
        </video>
      </aside>
    </div>
    <div class="row">
      <aside class="home__BottomAside col-md-6">
        <video autoplay loop muted class="videoAside col-md-12">
          <source src="video/ty.mp4" type="video/mp4">
          <source src="video/ty.webm" type="video/webm">
        </video>
      </aside>
      <section class="home__BottomLeft col-md-6">
        <header class="headerLeft uFloatRight uPrimaryMargin col-md-2">
          <h3 class="title">Ilimitado</h3>
        </header>
        <div class="descriptionLeft col-md-12">
          <p class="description">Contamos con tutorias en vivo, las transmisiones en vivo son guardados en el sistema para repetir los videos cuando desees.</p>
          <p class="description">Información bibliografica en textos, audios y videos, te brindamos una educación interactiva</p>
        </div>
        <!--figure.figureAsideimg(src="images/bottom1.jpg", alt="", width="100%")
        -->
      </section>
    </div>
  </main>
  <section class="container-fluid bottomFooter">
    <article class="bottomFooter__Articl col-md-8">
      <header class="bottomFooter__Articl--Header">
        <h5 class="titleBottom">Aprovecha y no te quedes atras<br>Crece Profesionalmente</h5>
      </header>
    </article>
  </section>
  <footer class="container footer">
    <div class="row">
      <div class="col-md-6">
        <p class="description">2016 Carrerasdelfuturo. Todos los derechos reservados</p>
      </div>
      <div class="col-md-6">
        <ul class="socials">
          <li class="list"><a href="https://www.facebook.com/Carreras-del-Futuro-340742959649869/" class="link"><img src="images/fb.png" alt="Facebook"></a></li>
          <li class="list"><a href="#" class="link"><img src="images/tw.png"></a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>