doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(name="description", content="Carreras del futuro preparate con cursos y carreras profesionales en programación, diseño y marketing")
    title Carreras del Futuro
    link(href="https://fonts.googleapis.com/css?family=Oswald", rel="stylesheet")

    link(href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")

    link(rel="stylesheet", href="stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheets/bootstrap-theme.css")
    link(rel="stylesheet", href="stylesheets/app.css")

    script(src="http://code.jquery.com/jquery-1.9.1.js")
    script(src="javascripts/bootstrap.min.js")
    script(src="javascripts/code-developer.js")
    script(src='https://checkout.stripe.com/v2/checkout.js')

    //script(src="javascripts/code-developer2.js")
    //script(src="javascripts/code-developer3.js")
 body
  header.header.container-fluid
   div.row
    section.header__Web.col-xs-8.col-md-9
     h1.titleHeader
      | Carrerasdelfuturo
    nav.header__Nav.col-xs-4.col-md-3
     ul.header__Nav--Ul
      li.list
       a.link.payment(data-key='pk_test_ePGZW1gHYBpGVrI8FzPlKkxn', data-image='https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xla1/v/t1.0-9/14238254_340746319649533_2462327527717628267_n.jpg?oh=d12c27735e2121fee794822b042961bd&oe=58415F35&__gda__=1480944280_49e8a978758ac7c751680116ee976aee', data-amount='1999', data-currency='usd', data-name='Carreras del Futuro', data-description='Curso profesional de frontend developer')
        | Comprar
      li.list
       a.link.login(href="login")
        | Ingresar
  section.subHeaderHome.container-fluid
    .row
      section.homeSlider.container
        .row
          article.homeSlider__Show.col-md-12
            header.homeSlider__Show--Txt
              h2.title
                | Construye el nuevo futuro
                br
                | Aprende cursos y carreras profesionales
              div.button
                a.button__Link(href="#")
                  | Inscríbete
            figure.homeSlider__Show--Figure
              img(src="images/homesito.png", alt="", width="380px")

    
  main.container.homeMain
    div.row
      section.home__Top.col-md-12
        header.home__Top--Header.col-md-3
          h2.title
            | ¿Qué Sómos?
        div.home__Top--Description.col-md-12
          p.description
            | Somos la Plataforma de aprendizaje colaborativo, con cursos y carreras
            br 
            | aprende y se un profesional en distintas ramas
    div.row
      section.home__Top--Two.col-md-12
        article.home__Top--Two--Articl.col-md-4
          figure.figure
            img(src="https://www.tutellus.com/bower_components/tutellus.css/images/landings/titulos-universitarios/icon-yellow-title.svg")
          header.headerArticl
            h3.title
              | Aprende
          .description
            p.show
              | Como alumno, siempre encontrarás algo nuevo para aprender entre los distintos cursos
        article.home__Top--Two--Articl.col-md-4
          figure.figure
            img(src="https://www.tutellus.com/bower_components/tutellus.css/images/landings/titulos-universitarios/icon-yellow-title.svg")
          header.headerArticl
            h3.title
              | Certifícate
          .description
            p.show
              | Completa el curso, responde cuestionarios y certificate oficialmente 
        article.home__Top--Two--Articl.col-md-4
          figure.figure
            img(src="https://www.tutellus.com/bower_components/tutellus.css/images/landings/titulos-universitarios/icon-yellow-title.svg")
          header.headerArticl
            h3.title
              | Trabaja
          .description
            p.show
              | Con el conocimiento que te brindamos aplica a trabajos presenciales o arma tu propio negocio
    div.row
      header.home__Top--Tree--Header.col-md-12
        h3.title
          | Especializaciones destacadas
      section.home__Top--Tree
        article.cours.col-md-4
          figure.cours--Figure
            img(src="images/coding.jpg", alt="", width="250")
          header.cours--Header
            h4.title
              | Programacion Web
        article.cours.col-md-4
          figure.cours--Figure
            img(src="images/cours2.jpg", alt="", width="250")
          header.cours--Header
            h4.title
              | Corredor Inmobiliario
        article.cours.col-md-4
          figure.cours--Figure
            img(src="images/cours3.jpg", alt="", width="250")
          header.cours--Header
            h4.title
              | Negocios
    div.row
      section.home__BottomLeft.col-md-6
        header.headerLeft.col-md-2
          h3.title
            | Profesionales
        div.descriptionLeft.col-md-12
          p.description
            | Encuentra lo que necesitas las distintas temáticas y niveles. Aprende a tu ritmo con un gran Producto diseñado para que tú controles tu propio aprendizaje.
          p.description
            | Encuentra lo que necesitas las distintas temáticas y niveles. Aprende a tu ritmo con un gran Producto diseñado para que tú controles tu propio aprendizaje.
      aside.home__BottomAside.col-md-6
        video.videoAside.col-md-12(autoplay, loop, muted)
          source(src="video/board.mp4", type="video/mp4")
          source(src="video/board.webm", type="video/webm")
    div.row
      aside.home__BottomAside.col-md-6
        video.videoAside.col-md-12(autoplay, loop, muted)
          source(src="video/ty.mp4", type="video/mp4")
          source(src="video/ty.webm", type="video/webm")
      section.home__BottomLeft.col-md-6
        header.headerLeft.uFloatRight.uPrimaryMargin.col-md-2
          h3.title
            | Profesionales
        div.descriptionLeft.col-md-12
          p.description
            | Encuentra lo que necesitas las distintas temáticas y niveles. Aprende a tu ritmo con un gran Producto diseñado para que tú controles tu propio aprendizaje.
          p.description
            | Encuentra lo que necesitas las distintas temáticas y niveles. Aprende a tu ritmo con un gran Producto diseñado para que tú controles tu propio aprendizaje.

        //figure.figureAside
          img(src="images/bottom1.jpg", alt="", width="100%")
  section.container-fluid.bottomFooter
    article.bottomFooter__Articl.col-md-8
      header.bottomFooter__Articl--Header
        h5.titleBottom
          | Aprovecha y no te quedes atras
          br
          | Crece Profesionalmente
  footer.container.footer
    div.row
      div.col-md-6
        p.description
          | 2016 Carrerasdelfuturo. Todos los derechos reservados
      div.col-md-6
        ul.socials
          li.list
            a.link(href="#")
              | FB
          li.list
            a.link(href="#")
              | TW

