include inc/header
body
  
  include inc/headermenu
  
  section.subHeaderHome.container-fluid
    .row
      section.homeSlider.container
        .row
          article.homeSlider__Show.col-md-12
            header.homeSlider__Show--Txt
              h2.title
                | Construye el nuevo futuro
                br
                | Aprende cursos y carreras profesionales
              div.button
                a.button__Link(href="/curso/frontend-developer")
                  | Inscríbete
            figure.homeSlider__Show--Figure
              img.jsPerson(src="images/homesito.png", alt="", width="380px")

    
  main.container.homeMain
    div.row
      section.home__Top.col-md-12
        header.home__Top--Header.col-md-3
          h2.title
            | ¿Qué Sómos?
        div.home__Top--Description.col-md-12
          p.description
            | Somos una plataforma online, brindamos cursos en tiempo real y cursos ya grabados relacionados con la tecnología
            br 
            | aprende y se un profesional en distintas ramas
    div.row
      section.home__Top--Two.col-md-12
        article.home__Top--Two--Articl.col-md-4
          figure.figure
            img(src="https://www.tutellus.com/bower_components/tutellus.css/images/landings/titulos-universitarios/icon-yellow-title.svg")
          header.headerArticl
            h3.title
              | Aprende
          .description
            p.show
              | Como alumno, siempre encontrarás algo nuevo para aprender entre los distintos cursos
        article.home__Top--Two--Articl.col-md-4
          figure.figure
            img(src="https://www.tutellus.com/bower_components/tutellus.css/images/landings/titulos-universitarios/icon-yellow-title.svg")
          header.headerArticl
            h3.title
              | Certifícate
          .description
            p.show
              | Completa el curso, responde cuestionarios y certificate oficialmente 
        article.home__Top--Two--Articl.col-md-4
          figure.figure
            img(src="https://www.tutellus.com/bower_components/tutellus.css/images/landings/titulos-universitarios/icon-yellow-title.svg")
          header.headerArticl
            h3.title
              | Trabaja
          .description
            p.show
              | Con el conocimiento que te brindamos aplica a trabajos presenciales o arma tu propio negocio
    div.row
      header.home__Top--Tree--Header.col-md-12
        h3.title
          | Especializaciones destacadas
      section.home__Top--Tree
        article.cours.col-md-4
          figure.cours--Figure
            img(src="images/coding.jpg", alt="", width="250")
          header.cours--Header
            h4.title
              | Curso de Maquetación Basica
        article.cours.col-md-4
          figure.cours--Figure
            img(src="images/coding2.jpg", alt="", width="250")
          header.cours--Header
            h4.title
              | Curso de Newsletter
        article.cours.col-md-4
          a(href="/curso/frontend-developer")
            figure.cours--Figure
              img(src="images/coding3.jpg", alt="", width="250")
            header.cours--Header
              h4.title
                | Curso Frontend Developer
    div.row
      section.home__BottomLeft.col-md-6
        header.headerLeft.col-md-2
          h3.title
            | Profesionales
        div.descriptionLeft.col-md-12
          p.description
            | Encuentra lo que necesitas las distintas temáticas y niveles. Aprende a tu ritmo con un gran Producto diseñado para que tú controles tu propio aprendizaje.
          p.description
            | Cuestionarios y 
            strong Sesiones en vivo, transmisión y chat en tiempo real, 
            | materiales de la clase y soporte a todos nuestros estudiantes
      aside.home__BottomAside.col-md-6
        video.videoAside.col-md-12(autoplay, loop, muted)
          source(src="video/board.mp4", type="video/mp4")
          source(src="video/board.webm", type="video/webm")
    div.row
      aside.home__BottomAside.col-md-6
        video.videoAside.col-md-12(autoplay, loop, muted)
          source(src="video/ty.mp4", type="video/mp4")
          source(src="video/ty.webm", type="video/webm")
      section.home__BottomLeft.col-md-6
        header.headerLeft.uFloatRight.uPrimaryMargin.col-md-2
          h3.title
            | Ilimitado
        div.descriptionLeft.col-md-12
          p.description
            | Contamos con tutorias en vivo, las transmisiones en vivo son guardados en el sistema para repetir los videos cuando desees.
          p.description
            | Información bibliografica en textos, audios y videos, te brindamos una educación interactiva

        //figure.figureAside
          img(src="images/bottom1.jpg", alt="", width="100%")
  section.container-fluid.bottomFooter
    article.bottomFooter__Articl.col-md-8
      header.bottomFooter__Articl--Header
        h5.titleBottom
          | Aprovecha y no te quedes atras
          br
          | Crece Profesionalmente
  include inc/footer
