<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Carreras del Futuro</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.css">
    <link rel="stylesheet" href="stylesheets/app.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/code-developer.js"></script>
    <script src="https://checkout.stripe.com/v2/checkout.js"></script>
    <!--script(src="javascripts/code-developer2.js")-->
    <!--script(src="javascripts/code-developer3.js")-->
  </head>
</html>
<body>
  <header class="header container-fluid">
    <div class="row">
      <section class="header__Web col-xs-8 col-md-10">
        <h1 class="title">Carrerasdelfuturo</h1>
      </section>
      <nav class="header__Nav col-xs-4 col-md-2">
        <ul class="header__Nav--Ul">
          <li class="list"><a data-key="pk_test_ePGZW1gHYBpGVrI8FzPlKkxn" data-image="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xla1/v/t1.0-9/14238254_340746319649533_2462327527717628267_n.jpg?oh=d12c27735e2121fee794822b042961bd&amp;oe=58415F35&amp;__gda__=1480944280_49e8a978758ac7c751680116ee976aee" data-amount="1999" data-currency="usd" data-name="Carreras del Futuro" data-description="Curso profesional de frontend developer" class="link payment">Comprar</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="subHeader container-fluid">
    <div class="row">
      <article class="subHeader--Details col-xs-12 col-md-12">
        <header class="subHeader--Details--Header">
          <h2 class="title">Aprende Desarrollo Web Profesional<br>Construi la web moderna</h2>
        </header>
        <div class="subHeader--Details--Price">
          <h2 class="Price">$19.99</h2>
        </div>
      </article>
    </div>
  </section>
</body>
<section class="subHeader__Description container-fluid">
  <div class="row">
    <section class="container">
      <div class="row">
        <section class="subHeader__Description--Show">
          <h2 class="title">+ Cursos profesionales  +  salida laboral  +  certificación online</h2>
        </section>
      </div>
    </section>
  </div>
</section>
<main class="main">
  <section class="container header__Cours">
    <div class="row">
      <article class="col-md-6 header__Cours--Articl">
        <figure class="Articl--Figure"><img src="images/cours1.jpg" alt="">
          <video id="showvideo">
            <source src="video/promotion.mp4" type="video/mp4">
          </video>
          <div class="container--Icon"><i class="glyphicon glyphicon-play jsVideoPlay"></i></div>
        </figure>
      </article>
      <aside class="col-md-6 header__Cours--Aside">
        <div class="Aside__Contain">
          <header class="Aside--Header">
            <h2 class="title">Profesional Frontend Developer</h2>
          </header>
          <div class="Aside--Description">
            <p class="description">Convierte en un verdado frontend developer profesional, Aprende lo último en tecnologías web de lado del cliente. html5, jade, handlebars, css, stylus, less, sass, responsive design, mobil first, boostrap, foundation.</p>
          </div>
        </div>
        <div class="Aside__Contain">
          <header class="Aside--Header--Details">
            <h3 class="title">CON ESTE CURSO OBTIENES</h3>
          </header>
          <ul class="Aside__Ul">
            <li class="list"><i class="glyphicon glyphicon-ok"></i>Acceso de por vida</li>
            <li class="list"><i class="glyphicon glyphicon-ok"></i>Asistencia del profesor</li>
            <li class="list"><i class="glyphicon glyphicon-ok"></i>Certificado Online</li>
            <li class="list"><i class="glyphicon glyphicon-ok"></i>Clases de apoyo</li>
            <li class="list"><i class="glyphicon glyphicon-ok"></i>Material y servicios de apoyo</li>
          </ul>
        </div>
      </aside>
    </div>
  </section>
  <section class="container-fluid description__Cours">
    <div class="row">
      <div class="container">
        <div class="row">
          <section class="description__Cours--Show">
            <p class="description">Aprende desde lo mas básico hasta lo mas avanzado. Vas a conocer todas las técnicas y tecnologías nuevas que se aplica en el mundo web, las etiquetas de <strong>HTML5</strong>, utilizaremos templates engine como <strong>JADE</strong> Y <strong>HANDLEBARS</strong></p>
            <p class="description">Compilaremos nuestro <strong>JADE</strong> Y <strong>HANDLEBARS</strong> con la consola <strong>gitbash</strong> y prepros. Utilizaremos <strong>ICONFONTS</strong> Y <strong>SVG</strong>, animaciones con <strong>Css3</strong> - <strong>Keyframes</strong>.</p>
            <p class="description">Aprenderás todas las técnicas de los preprocesadores mas conocidos como <strong>SASS</strong>, <strong>LESS</strong>, <strong>STYLUS</strong> y a utilizar el lenguaje de programación de lado cliente <strong>Javascript.</strong></p>
            <p class="description">Utilizaremos git <strong>bash</strong> y <strong>github</strong>, crearemos nuestro primer commit y subiremos a nuestro repositorio, te enseñare a trabajar en equipo y alojaremos nuestras páginas web dentro de github.</p>
            <p class="description">Crearemos paginas web totalmente <strong>responsive design</strong> y <strong>mobil first</strong></p>
            <p class="description">Veremos un bonus como utilizar <strong>Boostrap</strong> y <strong>Foundation</strong></p>
            <p class="description">Optimización en paginas web y posicionamiento con <strong>HTML5</strong>.</p>
          </section>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <header class="header_content col-md-12">
            <h4 class="title">CONTENIDO DEL CURSO</h4>
          </header>
          <ul class="ulShow col-md-6">
            <label class="titleLabel">CONFIGURACIÓN</label>
            <li class="list--Show"><i class="glyphicon glyphicon-play-circle"></i>Introducción</li>
            <li class="list--Show"><i class="glyphicon glyphicon-play-circle"></i>Instalando Nuestro IDE</li>
            <li class="list--Show"><i class="glyphicon glyphicon-play-circle"></i>Configurando</li>
            <li class="list--Show"><i class="glyphicon glyphicon-play-circle"></i>Cambiar apariencia</li>
            <label class="titleLabel">INTRODUCCIÓN</label>
            <li class="list--Show"><i class="glyphicon glyphicon-play-circle"></i>Que es HTML</li>
            <li class="list--Show"><i class="glyphicon glyphicon-play-circle"></i>Que es CSS</li>
            <li class="list--Show"><i class="glyphicon glyphicon-play-circle"></i>Que es JS</li>
            <label class="titleLabel">CONOCIENDO LA WEB</label>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>Tipos de maquetación 1</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>Tipos de maquetación 2</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>Tipos de maquetación 3</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>Sintaxis HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>Modelo HTML5</li>
            <label class="titleLabel">ETIQUETAS HTML5</label>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>1-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>2-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>3-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>4-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>5-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>6-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>7-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>8-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>9-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>10-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>11-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>12-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>13-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>14-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>15-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>16-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>17-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>18-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>19-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>20-Etiquetas HTML5</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>21-Etiquetas HTML5</li>
            <label class="titleLabel">CSS - STYLESHEETS</label>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>1 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>2 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>3 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>4 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>5 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>6 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>7 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>8 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>9 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>10 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>12 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>13 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>14 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>15 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>16 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>17 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>18 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>19 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>20 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>21 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>22 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>23 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>24 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>25 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>26 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>27 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>28 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>29 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>30 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>31 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>32 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>33 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>34 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>35 - Css - Stylesheets</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>36 - Css - Stylesheets</li>
            <label class="titleLabel">JAVASCRIPT</label>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>1 - Javascript</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>2 - Javascript</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>3 - Javascript</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>4 - Javascript</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>5 - Javascript</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>6 - Javascript</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>7 - Javascript</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>8 - Javascript</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>9 - Javascript</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>10 - Javascript</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>11 - Javascript</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>12 - Javascript</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>13 - Javascript</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>14 - Javascript</li>
            <label class="titleLabel">JQUERY</label>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>1 - JQUERY</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>2 - JQUERY</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>3 - JQUERY</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>4 - JQUERY</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>5 - JQUERY</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>6 - JQUERY</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>7 - JQUERY</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>8 - JQUERY</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>9 - JQUERY</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>10 - JQUERY</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>11 - JQUERY</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>12 - JQUERY</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>13 - JQUERY</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>14 - JQUERY</li>
            <label class="titleLabel">GIT - GITHUB</label>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>1 - Git - Github</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>2 - Git - Github</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>3 - Git - Github</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>4 - Git - Github</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>5 - Git - Github</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>6 - Git - Github</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>7 - Git - Github</li>
            <label class="titleLabel">RESPONSIVE Y MOBIL FIRST</label>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>1 - Responsive y Mobil First</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>2 - Responsive y Mobil First</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>3 - Responsive y Mobil First</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>4 - Responsive y Mobil First</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>5 - Responsive y Mobil First</li>
            <label class="titleLabel">TEMPLATE ENGINE</label>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>1 - Jade</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>2 - Jade</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>3 - Jade</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>4 - Jade</li>
            <label class="titleLabel">PREPROCESADOR CSS</label>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>1 - Preprocesador Css</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>2 - Preprocesador Css</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>3 - Preprocesador Css</li>
            <label class="titleLabel">BOOTSTRAP</label>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>1 - bootstrap</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>2 - bootstrap</li>
            <li class="list--Show none"><i class="glyphicon glyphicon-play-circle"></i>3 - bootstrap</li>
            <div class="learningSum"><span class="jsClick learningSum--Css">Leer Más</span></div>
          </ul>
          <aside class="aside__Author col-md-4 col-md-offset-2">
            <div class="aside__Price--Contain">
              <header class="aside__Price--Header">
                <h4 class="title">Precio:</h4>
              </header>
              <div class="aside__Price--Show"><strong class="price">$19.99</strong></div>
              <div class="aside__Price--Buy"><a data-key="pk_test_ePGZW1gHYBpGVrI8FzPlKkxn" data-image="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xla1/v/t1.0-9/14238254_340746319649533_2462327527717628267_n.jpg?oh=d12c27735e2121fee794822b042961bd&amp;oe=58415F35&amp;__gda__=1480944280_49e8a978758ac7c751680116ee976aee" data-amount="1999" data-currency="usd" data-name="Carreras del Futuro" data-description="Curso profesional de frontend developer" class="linkBuy">Comprar</a></div>
            </div>
            <div class="aside__Author--Contain">
              <header class="aside__Author--Header">
                <h4 class="title">Profesor</h4>
              </header>
              <figure class="aside__Author--Figure"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAgaAAAAJGQ5ZjUxNjMyLTI0ZjUtNDE3My04Mjk3LWE2OGQxYzVkMzNjYw.jpg" alt=""></figure>
              <div class="aside__Author--Description"><span class="showName">Edinson Carranza</span><br><strong class="showName--About">Developer Frontend and Backend</strong></div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>
</main>