include inc/header
 body.uColorWhite
  include inc/headermenu

  main.container.viewLogin
    div.row
      header.viewLogin__Header.col-md-12
        h2.title
          | Ingresar a clases
    div.row
      div.viewLogin__Show.col-md-12
         if messages.info
           h2.title #{messages.info}
      div.col-md-6.viewLogin__Panel
        form.login(action="acceso", method="post")
          fieldset.login--Fieldset
           input.form-control(type="email", placeholder="Ingrese email", name="email")
          fieldset.login--Fieldset
           input.form-control(type="password", placeholder="Password", name="password")
          fieldset.login--Fieldset
           input(type="submit", value="Empezar Clases")

      div.col-md-6.viewRegister__Panel
        header.viewRegister__Panel--Header
          h3.title
            | Eres Nuevo?
        div.viewRegister__Panel--Continue
          a.linkContinue(href="register")
            | Crear Cuenta
  