doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Carreras del Futuro
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")

    link(rel="stylesheet", href="../stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="../stylesheets/bootstrap-theme.css")
    link(rel="stylesheet", href="../stylesheets/app.css")

    script(src="http://code.jquery.com/jquery-1.9.1.js")
    script(src="../javascripts/bootstrap.min.js")
    script(src="../javascripts/code-developer.js")
    //script(src="javascripts/code-developer2.js")
    //script(src="javascripts/code-developer3.js")
 body
  header.header.container-fluid
   div.row
    section.header__Web.col-xs-8.col-md-10
     h1.title
      | Carrerasdelfuturo

  main.container.viewLogin
   div.row
    div.col-md-8
     form.login(action="acceso", method="post")
      fieldset.login--Fieldset
       input(type="email", placeholder="Ingrese email", name="email")
      fieldset.login--Fieldset
       input(type="password", placeholder="Password", name="password")
      fieldset.login--Fieldset
       input(type="submit", value="Acceder")
  