doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Carreras del Futuro
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")

    link(rel="stylesheet", href="stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheets/bootstrap-theme.css")
    link(rel="stylesheet", href="stylesheets/app.css")

    //Video
    link(rel="stylesheets", href="https://vjs.zencdn.net/5.9.2/video-js.css")


    script(src="http://code.jquery.com/jquery-1.9.1.js")
    script(src="javascripts/bootstrap.min.js")
    script(src="javascripts/code-developer.js")
    script(src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js")
    //script(src="javascripts/code-developer2.js")
    //script(src="javascripts/code-developer3.js")
 body
  header.header.container-fluid
   div.row
    section.header__Web.col-xs-8.col-md-10
     h1.title
      | Carrerasdelfuturo

  main.container
   div.row
    section.videoPrimary.col-md-12
     header.videoPrimary--Header
      h2.title
       | Introducción
     video(id="my-video" , controls class="video-js uCenterVideo", data-setup="{}")
      source(src="https://lib.tutellus.com/libraries/22/96/37/lib/1461713178275_1-480.mp4", type="video/mp4")
    div.videoSecondary.col-md-12
  script(src="https://vjs.zencdn.net/5.9.2/video.js")