<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Carreras del Futuro</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.css">
    <link rel="stylesheet" href="stylesheets/app.css">
    <!--Video-->
    <link rel="stylesheets" href="https://vjs.zencdn.net/5.9.2/video-js.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/code-developer.js"></script>
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <!--script(src="javascripts/code-developer2.js")-->
    <!--script(src="javascripts/code-developer3.js")-->
  </head>
</html>
<body>
  <header class="header container-fluid">
    <div class="row">
      <section class="header__Web col-xs-8 col-md-10">
        <h1 class="title">Carrerasdelfuturo</h1>
      </section>
    </div>
  </header>
  <main class="container">
    <div class="row">
      <section class="videoPrimary col-md-12">
        <header class="videoPrimary--Header">
          <h2 class="title">Introducción</h2>
        </header>
        <video id="my-video" controls data-setup="{}" class="video-js uCenterVideo">
          <source src="https://lib.tutellus.com/libraries/22/96/37/lib/1461713178275_1-480.mp4" type="video/mp4">
        </video>
      </section>
      <div class="videoSecondary col-md-12"></div>
    </div>
  </main>
  <script src="https://vjs.zencdn.net/5.9.2/video.js"></script>
</body>