include inc/header
body.panelPlatform
  include inc/headermenu
  
  main.container.panel__Main
   div.row
    header.panel__Main--Header
      h2.title
        | Bienvenidos a Carrerasdelfuturo
   div.row
    section.col-md-6.panel__Main--Welcome
     article.panel__Main--Welcome--Cours
      header.panel__Main--Welcome--Header.cA1
        h2.title
          | Curso Profesional F
          sup
            | 80 Videos
      div.panel__Main--Welcome--Description
        p.description
          | La carrera consta con buenas tutorias, clases grabadas y sesiones de preguntas en vivo
      ul.panel__Main--Welcome--Ul
        li.list
           a(href="/panel/5")
            | Principiantes HTML
        li.list
           a(href="/panel/15")
            | Principiantes HTML5
        li.list
           a(href="/panel/20")
            | Etiquetas HTML - HTML5
        li.list
           a(href="/panel/30")
            | Etiquetas HTML5 Intermedio
        li.list
           a(href="/panel/50")
            | Guìa de css
        li.list
          a(href="/panel/70")
           | Css Avanzado
        li.list
           a(href="/panel/120")
            | Bootstrap
      //figure.panel__Main--Welcome--Figure
        img(src="http://www.uag.mx/assets/09_tecnologia_inmobiliaria.png", alt="")
      div.panel__Main--Welcome--Shop
        a.linkShop(href="/panel/1")
          | Empezar curso desde 0
    


  
  script(src="https://vjs.zencdn.net/5.9.2/video.js")