<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Carreras del Futuro</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/font.css">
    <!--Video-->
    <link rel="stylesheet" href="https://vjs.zencdn.net/5.9.2/video-js.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/code-developer.js"></script>
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <script src="/javascripts/utils.js"></script>
    <!--script(src="javascripts/code-developer2.js")-->
    <!--script(src="javascripts/code-developer3.js")-->
  </head>
  <body class="panelPlatform">
    <header class="header container-fluid header__Panel">
      <div class="row">
        <section class="header__Web col-xs-8 col-md-11">
          <h1 class="titleHeader">Carrerasdelfuturo</h1>
        </section>
        <figure data-toggle="dropdown" class="header__User col-md-1 dropdown"><img src="/images/avatar.png" width="40px">
          <div data-toggle="dropdown" class="header__User--Icon"><i aria-hidden="true" class="fa fa-angle-down"></i></div>
          <ul class="dropdown-menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" onclick="window.location.href = '/panel/profile'; "> <i aria-hidden="true" class="fa fa-user"></i>Mi Perfil</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> <i aria-hidden="true" class="fa fa-graduation-cap"></i>Certificados</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" onclick="function exit(){ window.location.href = '/exit'  } exit();"> <i aria-hidden="true" class="fa fa-sign-out"> </i>Salir</a></li>
          </ul>
        </figure>
      </div>
    </header>
    <section class="container-fluid profileView">
      <div class="container">
        <div class="row">
          <figure class="profileView--Figure"><img src="/images/avatar.png" alt="undefined"></figure>
        </div>
      </div>
    </section>
  </body>
</html>