body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.uColorWhite {
  background: #fff;
}
.none {
  display: none;
}
.panelPlatform {
  background: #f2f2f2;
}
.dropdown,
.dropdown-menu,
-webkit-transition all 0.3s,
-moz-transition all 0.3s,
-ms-transition all 0.3s,
-o-transition all 0.3s,
transition all 0.3s,
max-height 0,
display block,
overflow hidden,
opacity 0,
.open,
max-height 200px,
opacity 1,
body {
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
}
.header__Panel {
  line-height: 45px !important;
}
.header__Panel .header__User {
  display: flex;
  display: -webkit-flex;
  display: -o-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.header__Panel .header__User img {
  display: block;
  width: 38px;
  height: 39px;
  border-radius: 50%;
}
.header__Panel .header__User .header__User--Icon {
  display: block;
  margin-left: 0.5em;
  margin-top: 0.5em;
}
.header__Panel .header__User .header__User--Icon i {
  color: #fff;
  font-size: 1.5em;
}
.header__Panel .header__User .dropdown-menu {
  background: #2c3e50 !important;
  left: -50%;
}
.header__Panel .header__User .dropdown-menu li a {
  padding: 0.8em 1.2em;
  color: #fff;
}
.header__Panel .header__User .dropdown-menu li a i {
  margin-right: 0.5em;
}
.header__Panel .header__User .dropdown-menu li a:hover {
  background: #20b35d;
}
.header {
  background-color: #2c3e50;
  line-height: 55px;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.header .header__Web {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
.header .header__Web .titleHeader {
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
}
.header .header__Nav .header__Nav--Ul {
  margin-bottom: 0;
  text-align: center;
}
.header .header__Nav .header__Nav--Ul .list {
  list-style-type: none;
  line-height: 34px;
  margin: 0.5em 0;
  display: inline-block;
}
.header .header__Nav .header__Nav--Ul .list .link.payment {
  margin: 5em 0 0 0;
  background-color: #e10700;
  text-decoration: none;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1.2em;
}
.header .header__Nav .header__Nav--Ul .list .link.login {
  margin: 5em 0 0 1em;
  background-color: #2980b9;
  text-decoration: none;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1.2em;
}
.header .header__Nav .header__Nav--Ul .list .formPayment input[type='submit'] {
  background-color: #e10700;
  color: #fff;
  padding: 0 1em;
  outline: medium none;
  border-radius: 4px;
  border: none;
}
.subHeaderHome {
  background: linear-gradient(to right, #20b35d 0%, #2ecc71 52%, #3cde80 99%, #3cde80 100%);
  background: -ms-linear-gradient(left, #20b35d 0%, #2ecc71 52%, #3cde80 99%, #3cde80 100%);
  background: -moz-linear-gradient(to right, #20b35d 0%, #2ecc71 52%, #3cde80 99%, #3cde80 100%);
  background: -webkit-linear-gradient(to right, #20b35d 0%, #2ecc71 52%, #3cde80 99%, #3cde80 100%);
  height: 400px;
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  position: relative;
}
.subHeaderHome .homeSlider {
  position: relative;
}
.subHeaderHome .homeSlider .homeSlider__Show {
  position: absolute;
  right: 0;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subHeaderHome .homeSlider .homeSlider__Show .homeSlider__Show--Txt .title {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  text-transform: capitalize;
}
.subHeaderHome .homeSlider .homeSlider__Show .homeSlider__Show--Txt .button .button__Link {
  padding: 1em;
  background: linear-gradient(#4285f4, #2775d1);
  background: -moz-linear-gradient(#4285f4, #2775d1);
  background: -webkit-linear-gradient(#4285f4, #2775d1);
  background: -mz-linear-gradient(#4285f4, #2775d1);
  color: #fff;
  display: block;
  width: 120px;
  text-align: center;
  margin: 2em 0 0 0;
  border-radius: 50px;
  box-shadow: 0 4px 0 #244883;
}
.subHeaderHome .homeSlider .homeSlider__Show .homeSlider__Show--Txt .button .button__Link:hover {
  text-decoration: none;
  box-shadow: 0 4px 0 #2775d1;
  background: linear-gradient(#244883, #244883);
  background: -webkit-linear-gradient(#244883, #244883);
  background: -moz-linear-gradient(#244883, #244883);
  background: -mz-linear-gradient(#244883, #244883);
}
.subHeaderHome .homeSlider .homeSlider__Show .homeSlider__Show--Figure {
  margin-top: 50px;
  animation: homePerson 1s;
  opacity: 1;
}
@-moz-keyframes homePerson {
  50% {
    opacity: 0.5;
  }
}
@-webkit-keyframes homePerson {
  50% {
    opacity: 0.5;
  }
}
@-o-keyframes homePerson {
  50% {
    opacity: 0.5;
  }
}
@keyframes homePerson {
  50% {
    opacity: 0.5;
  }
}
.subHeader {
  background-color: #000;
  background-image: url("../images/bg.jpg");
  height: 400px;
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  position: relative;
}
.subHeader .videoWeb {
  width: 100%;
  opacity: 0.3;
}
.subHeader .subHeader--Details {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -2em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}
.subHeader .subHeader--Details .subHeader--Details--Header {
  width: 30%;
  margin: 0 auto;
  border-bottom: 1px solid #f1c40f;
  padding-bottom: 1em;
}
.subHeader .subHeader--Details .subHeader--Details--Header .title {
  color: #fff;
  text-shadow: 0 2px 5px #000;
  font-size: 2em;
}
.subHeader .subHeader--Details .subHeader--Details--Price .Price {
  color: #fff;
  margin: 1em 0;
  font-size: 2.5em;
}
.subHeader .subHeader--Details .subHeader--Details--Price .Price:before {
  content: "Desde: ";
  text-shadow: 0 2px 2px #000;
}
.subHeader__Description {
  background-color: #f1c40f;
  line-height: 25px;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}
.subHeader__Description .title {
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  font-size: 1.5em;
}
.header__Cours {
  padding-top: 2em;
  padding-bottom: 2em;
}
.header__Cours .header__Cours--Articl {
  padding-left: 0;
  padding-right: 0;
}
.header__Cours .header__Cours--Articl video {
  display: none;
  width: 100%;
}
.header__Cours .header__Cours--Articl .Articl--Figure img {
  width: 100%;
  display: block;
  position: relative;
}
.header__Cours .header__Cours--Articl .Articl--Figure .container--Icon {
  position: absolute;
  background-color: rgba(0,0,0,0.43);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.header__Cours .header__Cours--Articl .Articl--Figure .container--Icon i {
  color: #fff;
  font-size: 4em;
  margin: 2.5em 0;
  text-shadow: 0 2px 2px #000;
  cursor: pointer;
}
.header__Cours .header__Cours--Aside .Aside--Header {
  text-align: center;
  margin: 0 0 2em 0;
}
.header__Cours .header__Cours--Aside .Aside--Header .title {
  color: #7f8a94;
}
.header__Cours .header__Cours--Aside .Aside--Description {
  padding-top: 1em;
  padding-bottom: 1em;
}
.header__Cours .header__Cours--Aside .Aside--Header--Details {
  margin: 0 0 2em 0;
}
.header__Cours .header__Cours--Aside .Aside--Header--Details .title {
  font-size: 1.2em;
  color: #7f8a94;
}
.header__Cours .header__Cours--Aside .Aside__Ul {
  padding: 0;
  margin: 0.5em 0 0 0;
}
.header__Cours .header__Cours--Aside .Aside__Ul .list {
  list-style-type: none;
}
.header__Cours .header__Cours--Aside .Aside__Ul .list i {
  margin: 0 0.5em 0 0;
  color: #03a9f4;
}
.description__Cours {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #fff;
}
.header_content {
  padding-top: 1em;
  padding-left: 0;
  padding-right: 0;
}
.ulShow {
  padding: 0;
  margin-top: 1em;
  background-color: #fff;
  border: 1px solid #e8ebed;
}
.ulShow .titleLabel {
  background-color: #f7f9fa;
  display: block;
  padding: 1em;
  color: #42474d;
}
.ulShow .list--Show {
  list-style-type: none;
  padding: 0 1em;
  margin: 0 0 0.8em 0;
  color: #999;
  border-bottom: 1px solid #e8ebed;
}
.ulShow .list--Show i {
  margin: 0 0.5em 0 0;
  color: #999;
  background-color: #33c17a;
  border-radius: 50%;
  color: #fff;
}
.ulShow .learningSum {
  text-align: center;
  border: 1px solid #33c17a;
  padding: 0.8em 0;
  width: 20%;
  margin: 0 auto;
  cursor: pointer;
}
.ulShow .learningSum:hover {
  background-color: #33c17a;
  color: #fff;
}
.aside__Author .aside__Price--Contain {
  text-align: center;
  margin: 0 0 1em 0;
}
.aside__Author .aside__Price--Contain .aside__Price--Header .price,
.aside__Author .aside__Price--Contain .aside__Price--Show .price {
  font-size: 2.2em;
  color: #f44336;
}
.aside__Author .aside__Price--Contain .aside__Price--Buy .linkBuy {
  margin: 0 auto;
  background-color: #f1c40f;
  color: #fff;
  padding: 0.8em 1em;
  display: block;
  width: 40%;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #937604;
  font-size: 1.2em;
}
.aside__Author .aside__Price--Contain .aside__Price--Buy .linkBuy:hover {
  text-decoration: none;
}
.aside__Author .aside__Author--Contain {
  text-align: center;
  background-color: #fff;
  border: 1px solid #33c17a;
  padding-top: 1em;
  padding-bottom: 1em;
}
.aside__Author .aside__Author--Header .title {
  margin: 0 0 0.5em 0;
}
.aside__Author .aside__Author--Figure img {
  width: 80px;
  border-radius: 50%;
  border: 3px solid #33c17a;
}
.viewVideo {
  margin-top: 5em;
  background-color: #fff;
  border: 1px solid #dedede;
}
.viewVideo .videoPrimary .videoPrimary--Header {
  padding-top: 1em;
  padding-bottom: 1em;
}
.viewVideo .videoPrimary .videoPrimary--Header .title {
  color: #514e4e;
  font-family: 'Roboto', sans-serif;
}
.viewVideo .videoPrimary #my-video {
  width: 100%;
  height: 500px;
}
.viewVideo .videoSecondary {
  padding-top: 1em;
  padding-bottom: 1em;
}
.viewVideo .videoSecondary .video--Iz {
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.viewVideo .videoSecondary .video--De {
  background-color: #eee;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.viewVideo .videoSecondary .video--De:active {
  background-color: #d7d7d7;
}
.viewVideo .videoSecondary .video--De .linkNext {
  color: #514e4e;
}
.viewVideo .videoSecondary .video--De .linkNext:hover {
  text-decoration: none;
}
.viewLogin {
  padding-top: 8em;
}
.viewLogin .viewLogin__Header {
  text-align: center;
}
.viewLogin .viewLogin__Header .title {
  font-family: 'Oswald', sans-serif;
}
.viewLogin .viewLogin__Show {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.viewLogin .viewLogin__Show .title {
  font-size: 1.2em;
  color: #2196f3 !important;
}
.viewLogin .viewLogin__Show .titleError {
  font-size: 1.2em;
  color: #f44336 !important;
}
.viewLogin .viewLogin__Panel {
  float: none;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 2em;
  margin-top: 2em;
  border: 2px solid #eeba55;
  border-radius: 7px;
  overflow: hidden;
}
.viewLogin .viewLogin__Panel input[type='text'],
.viewLogin .viewLogin__Panel input[type='email'],
.viewLogin .viewLogin__Panel input[type='password'] {
  margin-bottom: 1em;
  height: 50px;
  background: #dedede;
}
.viewLogin .viewLogin__Panel .login--Fieldset:last-child {
  text-align: center;
}
.viewLogin .viewLogin__Panel .login--Fieldset:last-child input {
  padding: 1em 1.2em;
  border: none;
  background: #2bc66d;
  color: #fff;
  border-radius: 5px;
  outline: medium none;
  box-shadow: 0 4px 0 #066e32;
  font-size: 1em;
}
.viewLogin .viewRegister__Panel {
  float: none;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 2em;
  border-radius: 7px;
}
.viewLogin .viewRegister__Panel .viewRegister__Panel--Header {
  text-align: center;
}
.viewLogin .viewRegister__Panel .viewRegister__Panel--Continue {
  text-align: center;
}
.viewLogin .viewRegister__Panel .viewRegister__Panel--Continue .linkContinue {
  background: #f22613;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 0 #c41b0c;
  color: #fff;
  display: block;
  font-size: 1em;
  margin: 1em auto 0 auto;
  outline: medium none;
  padding: 1em 1.2em;
  width: 130px;
}
.successUser {
  position: fixed;
  z-index: 2999;
  top: 50%;
  margin-top: -10%;
  background-color: #fff;
  width: 30%;
  left: 50%;
  margin-left: -14%;
  text-align: center;
}
.successUser .headerSuccess .title {
  font-size: 2rem;
  margin: 0.5em 0;
}
.successUser .figure img {
  margin: 0 0 0.5em 0;
  border-radius: 50%;
}
.successUser .usershow {
  padding: 1em 0;
}
.successUser .usershow--Login a {
  background-color: #e10700;
  color: #fff;
  padding: 0.5em 1em;
}
.successUserBg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(35,35,35,0.81);
}
.homeMain {
  padding: 2em 0;
}
.homeMain .home__Top {
  text-align: center;
}
.homeMain .home__Top .home__Top--Header {
  margin: 0 auto !important;
  float: none;
  border-bottom: 1px solid #244883;
  padding-bottom: 1em;
}
.homeMain .home__Top .home__Top--Header .title {
  color: #42474d !important;
  font-weight: 700;
}
.homeMain .home__Top .home__Top--Description {
  padding: 1em 0;
}
.homeMain .home__Top .home__Top--Description .description {
  font-size: 1.2em;
}
.homeMain .home__Top--Two {
  font-size: 30px;
  padding: 2rem 0;
}
.homeMain .home__Top--Two .home__Top--Two--Articl {
  text-align: center;
}
.homeMain .home__Top--Two .home__Top--Two--Articl .figure img {
  display: block;
  margin: 0 auto;
}
.homeMain .home__Top--Two .home__Top--Two--Articl .headerArticl {
  padding: 12px 0;
}
.homeMain .home__Top--Two .home__Top--Two--Articl .description .show {
  font-size: 1.5rem;
}
.homeMain .home__Top--Tree--Header {
  padding: 1.5em 0;
  text-align: center;
}
.homeMain .home__Top--Tree--Header .title {
  font-size: 2.2em;
  font-weight: 700;
}
.homeMain .home__Top--Tree .cours .cours--Figure img {
  width: 100%;
  display: block;
}
.homeMain .home__Top--Tree .cours .cours--Header {
  background-color: #fff;
  display: block;
  padding: 1em;
  text-align: center;
}
.homeMain .home__BottomLeft {
  padding: 5em 0;
}
.homeMain .home__BottomLeft .headerLeft {
  display: block;
  float: none;
}
.homeMain .home__BottomLeft .headerLeft .title {
  font-size: 2em;
  margin-bottom: 12px;
  border-bottom: 1px solid #244883;
  padding-bottom: 0.3em;
  font-family: 'Oswald', sans-serif;
}
.homeMain .home__BottomLeft .descriptionLeft {
  padding-bottom: 6em;
}
.homeMain .home__BottomAside {
  padding: 5em 0 0 0;
}
.homeMain .home__BottomAside .videoAside {
  width: 100%;
  opacity: 0.7;
}
.panel__Main {
  padding-top: 5em;
}
.panel__Main .panel__Main--Header {
  text-align: center;
  padding-bottom: 1em;
}
.panel__Main .panel__Main--Header .title {
  font-size: 1.5em;
}
.panel__Main .panel__Main--Welcome {
  margin-bottom: 2em;
}
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours {
  box-shadow: 0 9px 14px #b6b5b5;
}
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours .cA1 {
  background: #058ecd;
}
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours .cA2 {
  background: #009688;
}
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours .cA3 {
  background: #ff9800;
}
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours .cA4 {
  background: #795548;
}
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours .cA5 {
  background: #607d8b;
}
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours .cA6 {
  background: #ff5722;
}
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours .panel__Main--Welcome--Header {
  padding: 1.5em 1em;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours .panel__Main--Welcome--Header .title {
  color: #fff !important;
  font-size: 22px;
}
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours .panel__Main--Welcome--Header .title sup {
  margin-left: 0.5em;
  margin-top: 0.4em;
  text-shadow: 0 2px 3px #000;
}
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours .panel__Main--Welcome--Description .description {
  padding: 0.5em;
}
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours .panel__Main--Welcome--Figure img {
  width: 100%;
  display: block;
}
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours .panel__Main--Welcome--Ul {
  padding: 0;
  margin: 0;
  background-color: #fff;
}
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours .panel__Main--Welcome--Ul .list {
  padding: 1em 0 1em 1em;
  border-top: 1px solid #dddddc;
  list-style-type: none;
  font-weight: 700;
}
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours .panel__Main--Welcome--Shop {
  background-color: #fff;
  text-align: center;
  padding: 1.5em 0;
}
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours .panel__Main--Welcome--Shop .linkShop {
  background: #e91e63;
  padding: 1em;
  border-radius: 4px;
  color: #fff;
}
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours .panel__Main--Welcome--Shop .linkShop:hover,
.panel__Main .panel__Main--Welcome .panel__Main--Welcome--Cours .panel__Main--Welcome--Shop .linkShop:active {
  text-decoration: none;
}
.panel__Live {
  padding-top: 3.7em;
}
.panel__Live .panel__Live--Movie {
  padding-left: 0;
  padding-right: 0;
}
.panel__Live .panel__Live--Chat {
  background-color: #fff;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  padding-top: 5em;
  border-left: 5px solid #2980b9;
}
.panel__Live .panel__Live--Chat .form__Live--Chat textarea {
  width: 100%;
  resize: none;
  outline: medium none;
  background: #dedede;
  padding: 0.5em;
  border-radius: 4px;
}
.panel__Live .panel__Live--Chat .form__Live--Chat .form__Live--Chat--Fieldset {
  text-align: right;
}
.panel__Live .panel__Live--Chat .form__Live--Chat .form__Live--Chat--Fieldset input[type='submit'] {
  background-color: #2196f3;
  border: none;
  color: #fff;
  padding: 0.65em 1.2em;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 4px 0 #1a72b7;
}
.bottomFooter {
  background-color: #2c3e50;
  height: 200px;
  position: relative;
}
.bottomFooter .bottomFooter__Articl {
  position: absolute;
  text-align: center;
  left: 20%;
  top: 28%;
}
.bottomFooter .bottomFooter__Articl .bottomFooter__Articl--Header .titleBottom {
  color: #fff;
  font-size: 2.5em;
  font-family: 'Oswald', sans-serif;
}
.footer {
  padding-top: 1em;
  padding-bottom: 1em;
}
.footer .footer__Ul .list {
  list-style-type: none;
  color: #2c3e50;
}
.footer .footer__Ul .list .link {
  color: #2c3e50;
}
.footer .footer__Ul .list .link:active,
.footer .footer__Ul .list .link:hover {
  text-decoration: none;
}
.footer .footer__Ul .list img {
  display: block;
  width: 180px;
  padding-top: 1em;
  opacity: 0.5;
}
.footer .socials {
  text-align: right;
}
.footer .socials .list {
  display: inline-block;
  margin-left: 1em;
}
.title {
  color: #42474d !important;
}
.uRightText {
  text-align: right;
}
.uCenterText {
  text-align: center;
}
.uMarginCenter {
  margin: 0 auto;
}
.uFloatRight {
  float: right !important;
}
.uPrimaryMargin {
  margin-right: 5em;
}
@media screen and (min-width: 0) and (max-width: 769px) {
  .subHeader--Details--Header {
    width: 90% !important;
  }
  .header__Nav .header__Nav--Ul .list .payment {
    display: none;
  }
  .header__Nav .header__Nav--Ul .list .login {
    display: none;
  }
  .subHeader .subHeader--Details {
    margin-top: -5em;
    font-size: 1rem;
  }
  .subHeader__Description .title {
    font-size: 1.5rem;
  }
  .header__Cours .header__Cours--Articl .Articl--Figure .container--Icon i {
    margin: 25% 0;
  }
  .header__Cours .header__Cours--Aside .Aside--Header .title {
    margin: 1em 0 0 0;
  }
  .description__Cours--Show {
    padding-left: 1em;
    padding-right: 1em;
  }
}
