body, h1, h2, h3, h4, h5, h6
	margin 0
	
p, ul li 
	font-family 'Roboto', sans-serif
a, a:hover 
	text-decoration none

//Colors
$blanco = white	
.uColorWhite
	background white
.none
	display none
.panelPlatform
	background #F2F2F2
.dropdown
  .dropdown-menu
    -webkit-transition all 0.3s
    -moz-transition all 0.3s
    -ms-transition all 0.3s
    -o-transition all 0.3s
    transition all 0.3s
    max-height 0
    display block
    overflow hidden
    opacity 0
  &.open
    .dropdown-menu
      max-height 200px
      opacity 1

body 
	background-color #eee
	font-family 'Open Sans', sans-serif

.header__Panel
	line-height 45px!important
	
	.header__User
		display flex
		display -webkit-flex
		display -o-flex
		display -moz-flex
		display -ms-flex
		align-items center
		justify-content flex-end
		cursor pointer
		img
			display block
			width 38px
			height 39px
			border-radius 50%
		.header__User--Icon
			display block
			margin-left .5em
			margin-top .5em
			i 
				color white
				font-size 1.5em
		.dropdown-menu
				background #2c3e50 !important
				left: -50%
				li a
					padding 0.8em 1.2em
					color white
					i 
						margin-right .5em
					&:hover, &:active
						background #20b35d
.header
	background-color #2c3e50
	line-height 55px
	padding-left 2em
	padding-right 2em
	position fixed
	top 0
	left 0
	right 0
	z-index 999
	div {
		display: flex;
		align-items: center
	}
	.header__Web
		padding-top 0
		padding-bottom 0
		.titleHeader
			color $blanco
			font-family 'Titillium Web', sans-serif
			text-transform uppercase
			font-size 2em
			text-ident: -9999px;
	.header__Nav
		.header__Nav--Ul
			margin-bottom 0
			text-align center
			.list
				list-style-type none
				line-height 34px
				margin 0.5em 0
				display inline-block
				.link.payment
					margin 5em 0 0 0
					background-color #e10700
					text-decoration none
					color white
					padding 0.5em 1em
					cursor pointer
					border-radius 3px
					font-size 1.2em
				.link.login
					margin 5em 0 0 1em
					background-color #2980b9
					text-decoration none
					color white
					padding 0.5em 1em
					cursor pointer
					border-radius 3px
					font-size 1.2em
				.formPayment
					input[type='submit']
						background-color #e10700
						color white
						padding 0 1em
						outline: medium none
						border-radius 4px
						border none
						
.subHeaderHome
	background linear-gradient(to right, rgba(32,179,93,1) 0%, rgba(46,204,113,1) 52%, rgba(60,222,128,1) 99%, rgba(60,222,128,1) 100%)
	background  -ms-linear-gradient(left, rgba(32,179,93,1) 0%, rgba(46,204,113,1) 52%, rgba(60,222,128,1) 99%, rgba(60,222,128,1) 100%)
	background -moz-linear-gradient(to right, rgba(32,179,93,1) 0%, rgba(46,204,113,1) 52%, rgba(60,222,128,1) 99%, rgba(60,222,128,1) 100%)
	background -webkit-linear-gradient(to right, rgba(32,179,93,1) 0%, rgba(46,204,113,1) 52%, rgba(60,222,128,1) 99%, rgba(60,222,128,1) 100%)
	height 400px
	background-size cover
	background-position center top
	overflow hidden
	position relative
	.homeSlider
		position relative
		.homeSlider__Show
			position absolute
			right 0
			top 0
			right 0
			width 100%
			display flex
			justify-content space-between
			align-items center
			.homeSlider__Show--Txt
				.title
					color $blanco
					font-family 'Oswald', sans-serif
					text-transform capitalize
				.button .button__Link
					padding 1em
					background linear-gradient(#4285f4, #2775d1)
					background -moz-linear-gradient(#4285f4, #2775d1)
					background -webkit-linear-gradient(#4285f4, #2775d1)
					background -mz-linear-gradient(#4285f4, #2775d1)
					color white
					display block
					width 120px
					text-align center
					margin 2em 0 0 0 
					border-radius 50px
					box-shadow 0 4px 0 #244883
					&:hover
						text-decoration none
						box-shadow 0 4px 0 #2775d1
						background linear-gradient(#244883, #244883)
						background -webkit-linear-gradient(#244883, #244883)
						background -moz-linear-gradient(#244883, #244883)
						background -mz-linear-gradient(#244883, #244883)
						
						
			.homeSlider__Show--Figure
				margin-top 50px
				animation homePerson 1s
				opacity 1
				@keyframes homePerson
					50% 
						opacity 0.5

.profileView
	background-color white
	padding-top 6em
	padding-bottom 2em
	.profileView--Figure 
		margin 0
		border-right 1px solid #dedede
		padding-right 1em
		height 137px
		position relative
		img 
			display block
			width 100px
			height 92px
			border-radius 50%
			margin-top 1.5em
	.profileView--Details
		margin-left 2em
		position relative
		.profileView--Details--Header .title
			color #646464 !important
			font-size 22px
			text-transform capitalize
			font-family 'Roboto'
		.profileView--Details--Header
			.nickname .title
				font-size 16px
				color #dedede
				margin-top 0.5em
				font-family 'Roboto'
			.utils
				padding-top 1em
			span
				display block
				text-align center
				font-size 2.5em
				&:first-child
					color #20b35d
					b
						color #20b35d
				b
					display block
					font-size 1.3rem

		.profileView--Edit--Container
			position absolute
			right 0
			top 0
			margin-top -1em
			.linkEdit
				background #0a8ecd
				padding 0.8em
				border-radius 4px
				color white
				cursor pointer
				font-family 'Roboto'
				display block
				transition all 0.5s linear
				&:hover, &:active
					text-decoration none
				&:nth-child(2)
					margin-top 1em
					background #F44336 !important
					border none
					outline none 	
.profileViewMain
	padding-top 2em
	padding-bottom 2em
	.cours__Header
		padding-bottom 1em
		padding-left 0 
		font-family 'Roboto'
		.title
			font-size 24px
			font-weight 700
		.show
			line-height 16px
		.cours__Continue
			.linkContinue
				display block
				margin-top 1em
				background-color #4CAF50
				float none
				margin-left auto
				margin-right auto
				padding-top 0.8em
				padding-bottom 0.8em
				border-radius 4px
				color white!important
				font-family 'Roboto'
				box-shadow 0 4px 0 #236426
				&:active
					transform: scale(1.1, 1.1)
	
	.cours__Aleatorio {
		padding-left: 0;
		padding-right: 0;
		.linkcours__Aleatorio--Link {
			background-color: #5c8512;
			padding: 0.5em;
			text-decoration: none;
			color: white;
		}
	}

	.cours
		background-color #ecf7fb
		border 1px solid #0791e6
		padding-top 1em
		padding-bottom 1em
		text-align center
		border-radius 4px
		width: 30%;
		margin: 0 1em
		.title
			margin-top 0.5em
			margin-bottom 0.5em

.successAvatar
	animation profile 1s
	@keyframes profile
		20%
			box-shadow 0 0 10px #0a8ecd
			background #0a8ecd !important
		50% 
			box-shadow 0 0 30px #0a8ecd
.changeIMG
	background rgba(0, 0, 0, 0.51)
	position absolute
	top 15%
	width 100px
	height 92px
	border-radius 50%
	text-align center
	padding-top 2em
	label
		color white
		font-size 13px
.subHeader
	background-color black
	background-image url('../images/bg.jpg')
	height 400px
	background-size cover
	background-position center top
	overflow hidden
	position relative
	.videoWeb
		width 100%
		opacity 0.3
	.subHeader--Details
		position absolute
		top 50%
		width 100%
		margin-top -2em
		padding-left 2em 
		padding-right 2em
		text-align  center
		
		.subHeader--Details--Header
			width 30%
			margin 0 auto
			border-bottom 1px solid #f1c40f
			padding-bottom 1em
			.title
				color white
				text-shadow 0 2px 5px #000
				font-size 2em
		.subHeader--Details--Price
			.Price
				color white
				margin 1em 0
				font-size 2.5em
				&:before
					content "Desde: "
					text-shadow 0 2px 2px black

.subHeader__Description 
	background-color #f1c40f
	line-height 25px
	padding-left 2em
	padding-right 2em
	padding-top 1em
	padding-bottom 1em
	text-align center
	.title
		font-family 'Open Sans', sans-serif
		text-transform capitalize
		font-size 1.5em
		

.header__Cours
	padding-top 2em
	padding-bottom 2em
	.header__Cours--Articl
		padding-left 0
		padding-right 0
		video 
			display none
			width 100%
		.Articl--Figure
			img
				width 100%
				display block
				position relative
			.container--Icon
				position absolute
				background-color rgba(0, 0, 0, 0.43)
				top 0
				left 0
				right 0
				bottom 0
				text-align center
				i 
					color white
					font-size 4em
					margin 2.5em 0
					text-shadow 0 2px 2px black
					cursor pointer
	.header__Cours--Aside
		.Aside--Header
			text-align center
			margin 0 0 2em 0
			.title
				color #7F8A94
				    font-family 'Oswald', sans-serif
		.Aside--Description
			padding-top 1em
			padding-bottom 1em
		
		.Aside--Header--Details
			margin 0 0 2em 0
			.title
				font-size 1.2em
				font-family 'Oswald', sans-serif
				color #7F8A94
		.Aside__Ul
			padding 0
			margin 0.5em 0 0 0
			.list
				list-style-type none
				i 
					margin 0 0.5em 0 0
					color #03A9F4

.description__Cours 
	padding-top 2em 
	padding-bottom 2em
	background-color $blanco
.header_content
	padding-top 1em
	padding-left 0
	padding-right 0
	h4 
		font-family 'Oswald', sans-serif
.ulShow
	padding 0
	margin-top 1em
	background-color white
	border 1px solid #E8EBED
	.titleLabel
		background-color #F7F9FA
		display block
		padding 1em
		color #42474D
	.list--Show
		list-style-type none
		padding 0 1em
		margin 0 0 0.8em 0
		color #999999
		border-bottom 1px solid #E8EBED
		i 
			margin 0 0.5em 0 0
			color #999999
			background-color #33c17a
			border-radius 50%
			color #fff
	.learningSum
		text-align center
		border 1px solid #33c17a
		padding 0.8em 0
		width 20%
		margin 0 auto
		cursor pointer
		&:hover
			background-color #33c17a
			color white
.aside__Author
	.aside__Price--Contain
		text-align center
		margin 0 0 1em 0
		.aside__Price--Header
		.aside__Price--Show
			.price
				font-size 2.2em
				color #F44336
		.aside__Price--Buy
			.linkBuy
				margin 0 auto
				background-color #f1c40f
				color white
				padding 0.8em 1em
				display block
				width 40%
				cursor pointer
				text-align center
				border-radius 4px
				border 1px solid #937604
				font-size 1.2em
				&:hover
					text-decoration none
			.linkBuyPayment
				margin 0 auto
				background-color #f1c40f
				color white
				padding 0.8em 1em
				display block
				width 40%
				cursor pointer
				text-align center
				border-radius 4px
				border 1px solid #937604
				font-size 1.2em
				outline none
				&:hover
					text-decoration none		
					
		
	.aside__Author--Contain
		text-align center
		background-color white
		border 1px solid #33c17a
		padding-top 1em
		padding-bottom 1em
	.aside__Author--Header
		.title
			margin 0 0 0.5em 0
	.aside__Author--Figure
		img 
			width 80px
			border-radius 50%
			border 3px solid #33c17a
			

.viewVideo
	margin-top 5em
	background-color white
	border 1px solid #dedede
	.videoPrimary
		.videoPrimary--Header
			padding-top 1em
			padding-bottom 1em
			.title
				color #514e4e
				font-family 'Roboto', sans-serif
		#my-video
			width 100%
			height 500px
	.videoSecondary
		padding-top 1em
		padding-bottom 1em
		.video--Iz
			background-color #f6f6f6
			text-align center
			padding-top 1em
			padding-bottom 1em
		.video--De
			background-color #eee
			text-align center
			padding-top 1em
			padding-bottom 1em
			&:active
				background-color #d7d7d7
			.linkNext
				color #514e4e
				&:hover
					text-decoration none

.viewLogin
	padding-top 8em
	.viewLogin__Header
		text-align center
		.title
			font-family 'Oswald', sans-serif
	.viewLogin__Show
			text-align center
			margin-top 1.5em
			margin-bottom 1.5em
			.title
				font-size 1.2em
				color #2196F3!important
			.titleError 
				font-size 1.2em
				color #F44336!important
	.viewLogin__Panel
		//background red
		float none
		margin 0 auto
		padding-top 3em
		padding-bottom 2em
		margin-top 2em
		border 2px solid #eeba55
		border-radius 7px
		overflow hidden
		input[type='text'], input[type='email'], input[type='password']
			margin-bottom 1em
			height 50px
			background #dedede
		.login--Fieldset:last-child
			text-align center
			input
				padding 1em 1.2em
				border none
				background #2bc66d
				color white
				border-radius 5px
				outline medium none
				box-shadow 0 4px 0 #066e32
				font-size 1em
	.viewRegister__Panel
		float none
		margin 0 auto
		padding-top 2em
		padding-bottom 2em
		margin-top 2em
		border-radius 7px
		.viewRegister__Panel--Header
			text-align center
		.viewRegister__Panel--Continue
			text-align center
			.linkContinue
				background #F22613
				border none
				border-radius 5px
				box-shadow 0 4px 0 #c41b0c
				color white
				display block
				font-size 1em	
				margin 1em auto 0 auto
				outline medium none
				padding 1em 1.2em
				width 130px
.successUser 
	position fixed
	z-index 2999
	top 50%
	margin-top: -10%
	background-color white
	width 30%
	left 50%
	margin-left -14%
	text-align center
	.headerSuccess
		.title
			font-size 2rem
			margin 0.5em 0
	.figure
		img
			margin 0 0 0.5em 0
			border-radius 50%
	.usershow
		padding 1em 0
	.usershow--Login a
		background-color #e10700
		color white
		padding 0.5em 1em

.successUserBg 
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	background-color rgba(35, 35, 35, 0.81)

.homeMain
	padding 2em 0
	.home__Top
		text-align center
		.home__Top--Header
			margin 0 auto!important
			float none
			border-bottom 1px solid #244883
			padding-bottom 1em
			.title
				color #42474D!important
				font-weight 700
		.home__Top--Description
			padding 1em 0
			.description
				font-size 1.2em
	
	.home__Top--Two
		font-size 30px
		padding 2rem 0
		.home__Top--Two--Articl
			text-align center
			.figure img
				display block
				margin 0 auto
			.headerArticl
				padding 12px 0
			.description .show
				font-size 1.5rem
	.home__Top--Tree--Header
		padding 1.5em 0
		text-align center
		.title
			font-size 2.2em
			font-weight 700
	.home__Top--Tree
		.cours
			.cours--Figure img
				width 100%
				display block
			.cours--Header
				background-color white
				display block
				padding 1em
				text-align center
	.home__BottomLeft
		padding 5em 0
		.headerLeft
			display block
			float none
			.title
				font-size 2em
				margin-bottom 12px
				border-bottom 1px solid #244883
				padding-bottom 0.3em
				font-family 'Oswald', sans-serif
		.descriptionLeft
			padding-bottom 6em
	.home__BottomAside
		padding 5em 0 0 0
		.videoAside
			width 100%
			opacity 0.7
.panel__Main
	padding-top 5em
	.panel__Main--Header
		text-align center
		padding-bottom 1em
		.title
			font-size 1.5em
	.panel__Main--Welcome
		margin-bottom 2em
		.panel__Main--Welcome--Cours
			box-shadow 0 9px 14px #b6b5b5
			.cA1 
				background #058ecd
			.cA2 
				background #009688
			.cA3
				background #FF9800
			.cA4
				background #795548
			.cA5
				background #607D8B
			.cA6
				background #FF5722
			.panel__Main--Welcome--Header
				padding 1.5em 1em
				border-top-left-radius 4px
				border-top-right-radius 4px
			.panel__Main--Welcome--Header .title
				color white!important
				font-size 22px
				sup 
					margin-left 0.5em
					margin-top 0.4em
					text-shadow 0 2px 3px black
			.panel__Main--Welcome--Description 
				.description
					padding 0.5em
			.panel__Main--Welcome--Figure
				img 
					width 100%
					display block
			.panel__Main--Welcome--Ul
				padding 0
				margin 0
				background-color white
				.list
					padding 1em 0 1em 1em
					border-top 1px solid #dddddc
					list-style-type none
					font-weight 700
			.panel__Main--Welcome--Shop
				background-color white
				text-align center
				padding 1.5em 0
				.linkShop
					background #E91E63
					padding 1em 
					border-radius 4px
					color white
					&:hover, &:active
						text-decoration none

					
.panel__Live
	padding-top 3.7em
	.panel__Live--Movie
		padding-left 0
		padding-right 0
	.panel__Live--Chat
		background-color #f6f6f6
		position fixed
		right 0
		bottom 0
		top 0
		padding-top 5em
		border-left 5px solid #2980b9
		overflow-y scroll
		overflow-x hidden
		.form__Live--Chat
			margin-bottom 2em
			textarea
				width 100%
				resize none
				outline medium none
				background #dedede
				padding 0.5em
				border-radius 4px
			.form__Live--Chat--Fieldset
				text-align right
				input[type='submit']
					background-color #2196F3
					border none
					color white
					padding 0.65em 1.2em
					border-radius 4px
					outline none
					box-shadow 0 4px 0 #1a72b7
		.form__Live--Chat--Stream
			.Stream
				display flex
				justify-content space-between
				background-color #fff
				padding 0.5em
				margin-top 1em
				margin-bottom 1em
				border-radius 4px
				border 1px solid #dedede
				cursor pointer
				transition all 0.5s linear
				&:hover 
					border 1px solid #2196f3
				&:active
					transform scale(0.9, 0.9)
				.Stream__Figure img 
					border-radius 50%
					height 45px
				.Stream__Figure--Name
					display block
					text-align center
				.Stream__Detalles
					width: 89%
					.Stream__Detalles--Header
						text-align right
						span 
							font-size 0.8em
							color #787676
						.Separed
							margin-right 0.5em
							margin-left 0.5em
					.Stream__Detalles--Show 
						text-align left
					.Stream__Detalles--Show .description 
						font-size 0.9em
						margin-left 0.5em
						margin-right 0.5em
						font-weight 700
						color #2196f3
.bottomFooter
	background-color #2c3e50
	height 200px
	position relative
	.bottomFooter__Articl
		position absolute
		text-align center
		left 20%
		top 28%
		.bottomFooter__Articl--Header
			.titleBottom
				color white
				font-size 2.5em
				font-family 'Oswald', sans-serif


.footer
	padding-top 1em
	padding-bottom 1em
	.primaryFooter
		padding-top 1em
		padding-bottom 1em
	.footer__Ul
		.list
			list-style-type none
			color #2C3E50
			.link
				color #2c3e50
				&:active, &:hover
					text-decoration none
			img 
				display block
				width 180px
				padding-top 1em
				opacity 0.5
	.socials
		text-align right
		.list
			display inline-block
			margin-left 1em
		
.title
	color #42474d!important
.uRightText 
	text-align right
.uCenterText
	text-align center
.uMarginCenter
	margin 0 auto
.uFloatRight
	float right!important
.uPrimaryMargin
	margin-right 5em



@media screen and (min-width:0) and (max-width:769px)
	body 
	.subHeader--Details--Header
		width 90%!important
	.header__Nav
		.header__Nav--Ul
			.list
				.payment
					display none
			.list
				.login 
					display none
	.subHeader .subHeader--Details
		margin-top -5em
		font-size 1rem
	.subHeader__Description .title
		font-size 1.5rem
	.header__Cours .header__Cours--Articl .Articl--Figure .container--Icon i
		margin 25% 0
	.header__Cours .header__Cours--Aside .Aside--Header .title
		margin 1em 0 0 0
	.description__Cours--Show
		padding-left 1em
		padding-right 1em

.description__Cours--Show 
	padding 0 0 2em 0