include ../inc/header
body
  include ../inc/headermenu

  section.subHeaderHome.container-fluid
    .row
      section.homeSlider.container
        .row
          article.homeSlider__Show.col-md-12
            header.homeSlider__Show--Txt
              h2.title
                | Curso Profesional Frontend Developer
                br
                | HTML5, CSS3, JS, JQUERY, GIT
              div.button
                a.button__Link(href="#")
                  | Inscríbete
            figure.homeSlider__Show--Figure
              img.jsPerson(src="/images/front.png", alt="", width="380px")

  main.main

  section.container.header__Cours
   div.row
    article.col-md-6.header__Cours--Articl
     figure.Articl--Figure
      img(src="/images/cours1.jpg", alt="")
      video#showvideo
       source(src="/video/promotion.mp4", type="video/mp4")
      div.container--Icon
       i.glyphicon.glyphicon-play.jsVideoPlay
    aside.col-md-6.header__Cours--Aside
     div.Aside__Contain
      header.Aside--Header
       h2.title
        | Profesional Frontend Developer
      div.Aside--Description
       p.description
        | Convierte en un verdado frontend developer profesional, Aprende lo último en tecnologías web de lado del cliente. html5, jade, handlebars, css, stylus, less, sass, responsive design, mobil first, boostrap, foundation.
     div.Aside__Contain
      header.Aside--Header--Details
       h3.title
        | CON ESTE CURSO OBTIENES
      ul.Aside__Ul
       li.list
        i.glyphicon.glyphicon-ok
        | Acceso de por vida
       li.list
        i.glyphicon.glyphicon-ok
        | Asistencia del profesor
       li.list
        i.glyphicon.glyphicon-ok
        | Certificado Online
       li.list
        i.glyphicon.glyphicon-ok
        | Clases de apoyo
       li.list
        i.glyphicon.glyphicon-ok
        | Material y servicios de apoyo
  section.container-fluid.description__Cours
   div.row
    .container
     div.row
      section.description__Cours--Show
       p.description
        | Aprende desde lo mas básico hasta lo mas avanzado. Vas a conocer todas las técnicas y tecnologías nuevas que se aplica en el mundo web, las etiquetas de <strong>HTML5</strong>, utilizaremos templates engine como <strong>JADE</strong> Y <strong>HANDLEBARS</strong>
       p.description
        | Compilaremos nuestro <strong>JADE</strong> Y <strong>HANDLEBARS</strong> con la consola <strong>gitbash</strong> y prepros. Utilizaremos <strong>ICONFONTS</strong> Y <strong>SVG</strong>, animaciones con <strong>Css3</strong> - <strong>Keyframes</strong>.
       p.description
        | Aprenderás todas las técnicas de los preprocesadores mas conocidos como <strong>SASS</strong>, <strong>LESS</strong>, <strong>STYLUS</strong> y a utilizar el lenguaje de programación de lado cliente <strong>Javascript.</strong>
       p.description
        | Utilizaremos git <strong>bash</strong> y <strong>github</strong>, crearemos nuestro primer commit y subiremos a nuestro repositorio, te enseñare a trabajar en equipo y alojaremos nuestras páginas web dentro de github.
       p.description
        | Crearemos paginas web totalmente <strong>responsive design</strong> y <strong>mobil first</strong>
       p.description
        | Veremos un bonus como utilizar <strong>Boostrap</strong> y <strong>Foundation</strong>
       p.description
        | Optimización en paginas web y posicionamiento con <strong>HTML5</strong>.
    .container
     div.row
      header.header_content.col-md-12
       h4.title
        | CONTENIDO DEL CURSO
      ul.ulShow.col-md-6
       label.titleLabel
        | CONFIGURACIÓN
       li.list--Show
        i.glyphicon.glyphicon-play-circle
        | Introducción
       li.list--Show
        i.glyphicon.glyphicon-play-circle

        | Instalando Nuestro IDE
       li.list--Show
        i.glyphicon.glyphicon-play-circle

        | Configurando
       li.list--Show
        i.glyphicon.glyphicon-play-circle
        | Cambiar apariencia

       label.titleLabel
        | INTRODUCCIÓN
       li.list--Show
        i.glyphicon.glyphicon-play-circle

        | Que es HTML
       li.list--Show
        i.glyphicon.glyphicon-play-circle

        | Que es CSS
       li.list--Show
        i.glyphicon.glyphicon-play-circle

        | Que es JS
       label.titleLabel
        | CONOCIENDO LA WEB
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | Tipos de maquetación 1
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | Tipos de maquetación 2
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | Tipos de maquetación 3
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | Sintaxis HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | Modelo HTML5
       label.titleLabel
        | ETIQUETAS HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 1-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 2-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 3-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 4-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 5-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 6-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 7-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 8-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 9-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 10-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 11-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 12-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 13-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 14-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 15-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 16-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 17-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 18-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 19-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 20-Etiquetas HTML5
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 21-Etiquetas HTML5
       label.titleLabel
        | CSS - STYLESHEETS
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 1 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 2 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 3 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 4 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 5 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 6 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 7 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 8 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 9 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 10 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 12 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 13 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 14 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 15 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 16 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 17 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 18 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 19 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 20 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 21 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 22 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 23 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 24 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 25 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 26 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 27 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 28 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 29 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 30 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 31 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 32 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 33 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 34 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 35 - Css - Stylesheets
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 36 - Css - Stylesheets
       label.titleLabel
        | JAVASCRIPT
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 1 - Javascript
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 2 - Javascript
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 3 - Javascript
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 4 - Javascript
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 5 - Javascript
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 6 - Javascript
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 7 - Javascript
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 8 - Javascript
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 9 - Javascript
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 10 - Javascript
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 11 - Javascript
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 12 - Javascript
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 13 - Javascript
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 14 - Javascript
       label.titleLabel
        | JQUERY
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 1 - JQUERY
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 2 - JQUERY
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 3 - JQUERY
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 4 - JQUERY
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 5 - JQUERY
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 6 - JQUERY
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 7 - JQUERY
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 8 - JQUERY
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 9 - JQUERY
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 10 - JQUERY
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 11 - JQUERY
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 12 - JQUERY
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 13 - JQUERY
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 14 - JQUERY
       label.titleLabel
        | GIT - GITHUB
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 1 - Git - Github
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 2 - Git - Github
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 3 - Git - Github
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 4 - Git - Github
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 5 - Git - Github
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 6 - Git - Github
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 7 - Git - Github
       label.titleLabel
        | RESPONSIVE Y MOBIL FIRST
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 1 - Responsive y Mobil First
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 2 - Responsive y Mobil First
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 3 - Responsive y Mobil First
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 4 - Responsive y Mobil First
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 5 - Responsive y Mobil First
       label.titleLabel
        | TEMPLATE ENGINE
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 1 - Jade
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 2 - Jade
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 3 - Jade
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 4 - Jade
       label.titleLabel
        | PREPROCESADOR CSS
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 1 - Preprocesador Css
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 2 - Preprocesador Css
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 3 - Preprocesador Css
       label.titleLabel
        | BOOTSTRAP
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 1 - bootstrap
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 2 - bootstrap
       li.list--Show.none
        i.glyphicon.glyphicon-play-circle

        | 3 - bootstrap
       div.learningSum
        span.jsClick.learningSum--Css
         | Leer Más
      aside.aside__Author.col-md-4.col-md-offset-2
       div.aside__Price--Contain
        header.aside__Price--Header
         h4.title
          | Precio:
        div.aside__Price--Show
         strong.price
          $10.00
        div.aside__Price--Buy
         a.linkBuy.payment(data-key='pk_test_ePGZW1gHYBpGVrI8FzPlKkxn', data-image='/images/logopayment.png', data-amount='1000', data-currency='usd', data-name='Carreras del Futuro', data-description='Curso profesional de frontend developer')
          | Comprar
       div.aside__Author--Contain
        header.aside__Author--Header
         h4.title
          | Profesor
        figure.aside__Author--Figure
         img(src="/images/yo.png", alt="")
        div.aside__Author--Description
         span.showName
          | Edinson Carranza
         br
         strong.showName--About
          | Developer Frontend and Backend